@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../.flowbite-react/class-list.json';
@reference './theme.css';
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

:root {
  --primary: 214 80% 55%;
  --accent: var(--primary);
  --primaryDark: #1f2937;
  --bgPrimary: #f9f9f9;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 1rem;

  --lite-gray: #f0f1f4;
  --label-width: 120px;
  --sb-conent-bg: #f9f9f9;
  --sb-corner-radius: 12px;
  --sb-padding: 16px;
  --sb-mobile-break-width: 700px;
  --sb-header-height: 78px;
  --sb-max-content-width: 1024px;
  --sb-border-color-thin: #f0f1f4;
  --sb-hero-bgc: #0891b2;
}

main .wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  flex-grow: 1;
  max-width: var(--sb-max-content-width);
  padding: 24px;
  width: 100%;
}

main {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  background-color: var(--bgPrimary);
}
.clickable:hover,
button:hover,
.link-btn:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.3s ease;
}

.dark {
  --primary: white;
  --accent: var(--primary);
  --primaryDark: #1f2937;
  --bgPrimary: rgb(8, 11, 36);
}

.btn-primary, .link-btn {
  @apply bg-primary dark:bg-primary hover:bg-primary/65 dark:hover:bg-primary/65 relative inline-flex items-center justify-center rounded-md  px-4 py-2 text-white font-medium  disabled:bg-gray-400 disabled:cursor-not-allowed transition-colors duration-200 ;
}
.link-btn {
  @apply text-white p-2 rounded-md
}